/* GENERAL */

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F1F1;
    font-family: 'Open Sans', Arial, sans-serif;
}
main{
    min-height: 800px;
}
h1{
    text-align: center;
    color: blue;
}

h3{
    text-align: center;
    color: red;
}
h4{
    text-align: center;
    color: red;
}
a{
    text-decoration:none;
    color: white;
}
a:hover{
    background-color: rgb(134, 1, 1);
    transition: 0.3s;
    border-radius: 10%;
}
ul{
    list-style: none;
}
/* FIN GENERAL */

/* INICIO CABEZERA */

header{
    background-image: linear-gradient(to left, #1c1f20 0%, #000000 74%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buscador input[type="search"]{
    width: 500px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px 0 0 30px;
}
.buscador input[type="submit"]{
    width: 150px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #e90303;
    position: relative;
    border-radius: 0 30px 30px 0;
    left: -5px;
}
.redes{
    margin-right: 2%;
}
.inicio{
    margin-top: 0;
}
.logo {
    height: 85px;
    width: 200px;
}
.inicio:hover{
    background-color: transparent;
}
.face{
    height: 50px;
    width: 50px;
}
.face0:hover{
    background-color: transparent;
}
.insta{
    height: 50px;
    width: 50px;
}
.insta0:hover{
    background-color: transparent;
}

/* FIN CABEZERA */

/* MENU */

.menu{
    font-size: 18px;
    font-weight: bold;
    background-color: #e90303;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 8px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    margin: auto;
}


/* FIN MENU */

/* MAIN INDEX */

.mainIndex{
    display: grid;
    grid-template-columns: 60% 40%;
}
.carrousel{
    background-color: #000000;
}
.aAside:hover{
    background-color: white;
    transform: scale(1.1);
    transition: 0.3s;
}
aside div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#titleAside{
    background-color: black;
}

/* FIN MAIN INDEX */


/* FOOTER */

footer{
    height: auto;
    background-image: linear-gradient(to left, #1c1f20 0%, #000000 74%);
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-style:solid;
    border-top-color: red;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.divFooter1{
    display: grid;
    align-items: center;
}
footer ul{
    display: grid;
    align-items: center;
    margin-left: 5px;
}
.redes2{
    display: grid;
    grid-template-areas: 'titulo titulo titulo'
    'redes redes redes';

}
.redes2 h3{
    grid-area: titulo;
}
.youtu{
    width: 50px;
    height: 50px;
}
.youtu0:hover{
    background-color: transparent;
}

/* FIN FOOTER */


/* FORMULARIOS REGISTO-ACCESO */

.formAcceso{
    width: 500px;
    margin: auto;
    margin-top: 10%;
    background-image: linear-gradient(to left top, #d98324 0%, #a40606 75%);
    padding: 30px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: 5px 10px 25px black;
}
.formAcceso h1{
    color: white;
    margin-bottom: 20px;
}
.formAcceso p{
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
}
.formAcceso a:hover{
    text-decoration: underline;
}
.botons{
    width: 100%;
    border: none;
    margin: 2px;
    padding: 10px;
    font-size: 16px;
    margin: 16px 0;
    font-family: 'Open Sans', Arial, sans-serif;
    cursor: pointer;
}
.controls{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #e90303;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}
.mainAcc div{
    margin: auto;
    margin-top: 200px;
    width: 50%;
}

/* FIN FORMULARIOS REGISTRO-ACCESO */


/* FORMULARIO CONTACTO */

.formContact{
    width: 500px;
    margin: auto;
    padding-top: 150px;
    background-image: linear-gradient(to left top, #d98324 0%, #a40606 75%);
    padding: 30px;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
    box-shadow: 5px 10px 25px black;
}

/* FIN FORMULARIO CONTACTO */


.mainAyuda{
    background-image: linear-gradient(315deg, #d98324 0%, #a40606 75%);
    display: grid;
    grid-template-columns: auto auto;
}

.bodyContact{
    background-image: linear-gradient(to left top, #d98324 0%, #a40606 75%);
}

.proces{
    background-color: rgb(194, 190, 190);
}

.ayuda{
    background-color: rgb(143, 145, 143);
}

.ayuda ul{
    font-size: 20px;
}

.productos{
    display: grid;
    grid-template-columns: 20% 80%;
}

.productos ul{
    background-color: #e90303;
    font-size: 18px;
    padding-left: 20px;
}

.productos ul li{
    padding: 10px;
    border: 1px solid black;
}

.quienesSomos{
    width: 40%;
    margin-left: 3%;
    padding-top: 3%;
    text-align: center;
}

.quienesSomos p{
    margin-top: 3%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
}
